/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]


    withName: 'ASMSTATS' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/asmstats" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BUSCO_BUSCO' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/busco" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'GFASTATS' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/gfastats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith('.fasta') || filename.endsWith('.fa') || filename.endsWith('.fna') || filename.endsWith('.gz') ? null : filename }
        ]
    }

    withName: 'MERQURYFK_MERQURYFK' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/merquryfk" },
            mode: params.publish_dir_mode
        ]
    }

/// ========================================================================================
/// DON'T PUBLISH 
/// ========================================================================================

    withName: 'FASTK_FASTK' {
        publishDir = [enabled: false]
    }

    withName: 'GUNZIP' {
        publishDir = [enabled: false]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [enabled: false]
        // publishDir = [
        //     path: { "${params.outdir}/multiqc" },
        //     mode: params.publish_dir_mode,
        //     saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        // ]
    }

}
